# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.dz9.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ISokolovskiy\Documents\GitHub\dz_otus\dz9\.idea\.idea.dz9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
